In [177]:
import pandas as pd

In [178]:
df = pd.read_csv('/kaggle/input/housing/housing.csv')

In [179]:
df.shape

(20640, 10)

In [180]:
df.sample(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
6086,-117.87,34.08,33.0,3630.0,800.0,2257.0,796.0,3.2469,206900.0,<1H OCEAN
9678,-118.99,37.65,20.0,2474.0,625.0,338.0,141.0,5.0100,195500.0,INLAND
6109,-117.88,34.12,36.0,2029.0,351.0,1327.0,364.0,4.1836,164300.0,<1H OCEAN
4255,-118.35,34.10,20.0,2745.0,782.0,1161.0,739.0,3.9044,436400.0,<1H OCEAN
8680,-118.33,33.88,36.0,1271.0,346.0,811.0,345.0,3.2417,283300.0,<1H OCEAN
4224,-118.29,34.11,30.0,2774.0,570.0,1076.0,580.0,5.2960,500001.0,<1H OCEAN
3492,-118.48,34.28,35.0,2132.0,368.0,1128.0,341.0,5.3107,227100.0,<1H OCEAN
6871,-118.09,34.07,45.0,593.0,133.0,481.0,128.0,2.5938,199300.0,<1H OCEAN
12436,-116.17,33.67,18.0,3585.0,800.0,3873.0,788.0,2.5714,65900.0,INLAND
10425,-117.63,33.47,4.0,1969.0,280.0,805.0,271.0,7.6012,310800.0,NEAR OCEAN

In [181]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [182]:
df = df.dropna()

In [183]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

In [184]:
df['total_rooms'] = df['total_rooms'].astype(int)
df['total_bedrooms'] = df['total_bedrooms'].astype(int)
df['population'] = df['population'].astype(int)
df['households'] = df['households'].astype(int)
df['housing_median_age'] = df['housing_median_age'].astype(int)

In [185]:
df.duplicated().sum()

0

In [186]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000
mean,-119.570689,35.633221,28.633094,2636.504233,537.870553,1424.946949,499.433465,3.871162,206864.413155
std,2.003578,2.136348,12.591805,2185.269567,421.385070,1133.208490,382.299226,1.899291,115435.667099
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1450.000000,296.000000,787.000000,280.000000,2.563700,119500.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.536500,179700.000000
75%,-118.010000,37.720000,37.000000,3143.000000,647.000000,1722.000000,604.000000,4.744000,264700.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [187]:
df['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9034
INLAND        6496
NEAR OCEAN    2628
NEAR BAY      2270
ISLAND           5
Name: count, dtype: int64

In [188]:
pd.get_dummies(df['ocean_proximity']).head()

   <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
0      False   False   False      True       False
1      False   False   False      True       False
2      False   False   False      True       False
3      False   False   False      True       False
4      False   False   False      True       False

In [189]:
df.drop('ocean_proximity', axis=1).head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41,880,129,322,126,8.3252,452600.0
1,-122.22,37.86,21,7099,1106,2401,1138,8.3014,358500.0
2,-122.24,37.85,52,1467,190,496,177,7.2574,352100.0
3,-122.25,37.85,52,1274,235,558,219,5.6431,341300.0
4,-122.25,37.85,52,1627,280,565,259,3.8462,342200.0

In [190]:
df = pd.concat([df.drop('ocean_proximity', axis=1),
                              pd.get_dummies(df['ocean_proximity'])], axis=1)

In [191]:
df = df[['longitude','latitude','housing_median_age','total_rooms','total_bedrooms','population','households','median_income',	
'<1H OCEAN','INLAND','ISLAND','NEAR BAY','NEAR OCEAN','median_house_value']]

In [192]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,median_house_value
0,-122.23,37.88,41,880,129,322,126,8.3252,False,False,False,True,False,452600.0
1,-122.22,37.86,21,7099,1106,2401,1138,8.3014,False,False,False,True,False,358500.0
2,-122.24,37.85,52,1467,190,496,177,7.2574,False,False,False,True,False,352100.0
3,-122.25,37.85,52,1274,235,558,219,5.6431,False,False,False,True,False,341300.0
4,-122.25,37.85,52,1627,280,565,259,3.8462,False,False,False,True,False,342200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25,1665,374,845,330,1.5603,False,True,False,False,False,78100.0
20636,-121.21,39.49,18,697,150,356,114,2.5568,False,True,False,False,False,77100.0
20637,-121.22,39.43,17,2254,485,1007,433,1.7000,False,True,False,False,False,92300.0
20638,-121.32,39.43,18,1860,409,741,349,1.8672,False,True,False,False,False,84700.0
20639,-121.24,39.37,16,2785,616,1387,530,2.3886,False,True,False,False,False,89400.0

In [193]:
cols_to_convert = ['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN']
df[cols_to_convert] = df[cols_to_convert].astype(int)

In [194]:
x = df.iloc[:,2:12]
y = df.iloc[:,13]

In [195]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = .2)

In [196]:
import time

In [198]:
import numpy as np

In [197]:
start_time = time.time()
class scratchLR:
    
    def __init__(self):
        self.coef_ = None
        self.intercept_ = None

    def fit(self, x_train, y_train):
        X_train = np.insert(x_train, 0, 1, axis=1)
        coefs = np.linalg.inv(np.dot(X_train.T, X_train)).dot(X_train.T).dot(y_train)
        self.intercept_ = coefs[0]
        self.coef_ = coefs[1:]

    def predict(self, x_test):
        y_pred = np.dot(x_test, self.coef_) + self.intercept_
        return y_pred

lr = scratchLR()
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)
end_time = time.time()
t1 = end_time - start_time
print(t1)

0.004079580307006836

In [200]:
def mean_absolute_score(y_test, y_pred):
    error = (y_test - y_pred).abs()
    return error.mean()

mean_absolute_score(y_test, y_pred)

50018.27800700587

In [203]:
def mean_squared_error(y_test, y_pred):
   error2 = (y_test - y_pred)**2
   return error2.mean()
mean_squared_error(y_test, y_pred)

4681115625.240549

In [204]:

def r2_score(y_test, y_pred):
    ss_r = ((y_test - y_pred) ** 2).sum()
    ss_m = ((y_test - y_train.mean()) ** 2).sum()
    return (1 - (ss_r / ss_m))
r2_score(y_test, y_pred)

0.6462275912655132