In [2550]:
import pandas as pd

In [2551]:
import os
for root, dirs, files in os.walk('/kaggle/input'):
    for name in files:
        print(os.path.join(root, name))

/kaggle/input/housing.csv

In [2552]:
df = pd.read_csv('/kaggle/input/housing.csv')

In [2553]:
df.shape

(20640, 10)

In [2554]:
df.sample(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
10878,-117.88,33.72,36.0,1910.0,352.0,1593.0,329.0,3.8900,170000.0,<1H OCEAN
9519,-123.21,39.15,31.0,2685.0,675.0,1367.0,626.0,1.6571,108900.0,<1H OCEAN
8216,-118.19,33.79,30.0,3107.0,994.0,3543.0,850.0,1.9387,141700.0,NEAR OCEAN
10736,-117.90,33.61,41.0,1521.0,328.0,527.0,275.0,4.0764,500001.0,<1H OCEAN
1950,-120.83,38.74,17.0,3685.0,775.0,1714.0,734.0,2.2269,128300.0,INLAND
7634,-118.29,33.84,23.0,3626.0,799.0,2321.0,731.0,4.7393,237900.0,<1H OCEAN
6164,-117.95,34.08,37.0,1137.0,203.0,672.0,226.0,3.2969,189000.0,<1H OCEAN
5480,-118.45,33.99,33.0,3125.0,785.0,1720.0,713.0,2.9722,325000.0,<1H OCEAN
12851,-121.37,38.68,29.0,3757.0,646.0,2022.0,611.0,3.5429,88200.0,INLAND
20088,-120.25,38.04,22.0,4173.0,763.0,1086.0,444.0,2.5562,136200.0,INLAND

In [2555]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [2556]:
df = df.dropna()

In [2557]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

In [2558]:
df['total_rooms'] = df['total_rooms'].astype(int)
df['total_bedrooms'] = df['total_bedrooms'].astype(int)
df['population'] = df['population'].astype(int)
df['households'] = df['households'].astype(int)
df['housing_median_age'] = df['housing_median_age'].astype(int)

In [2559]:
df.duplicated().sum()

0

In [2560]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000
mean,-119.570689,35.633221,28.633094,2636.504233,537.870553,1424.946949,499.433465,3.871162,206864.413155
std,2.003578,2.136348,12.591805,2185.269567,421.385070,1133.208490,382.299226,1.899291,115435.667099
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1450.000000,296.000000,787.000000,280.000000,2.563700,119500.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.536500,179700.000000
75%,-118.010000,37.720000,37.000000,3143.000000,647.000000,1722.000000,604.000000,4.744000,264700.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [2561]:
df['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9034
INLAND        6496
NEAR OCEAN    2628
NEAR BAY      2270
ISLAND           5
Name: count, dtype: int64

In [2562]:
pd.get_dummies(df['ocean_proximity']).head()

   <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
0      False   False   False      True       False
1      False   False   False      True       False
2      False   False   False      True       False
3      False   False   False      True       False
4      False   False   False      True       False

In [2563]:
df.drop('ocean_proximity', axis=1).head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41,880,129,322,126,8.3252,452600.0
1,-122.22,37.86,21,7099,1106,2401,1138,8.3014,358500.0
2,-122.24,37.85,52,1467,190,496,177,7.2574,352100.0
3,-122.25,37.85,52,1274,235,558,219,5.6431,341300.0
4,-122.25,37.85,52,1627,280,565,259,3.8462,342200.0

In [2564]:
df = pd.concat([df.drop('ocean_proximity', axis=1),
                              pd.get_dummies(df['ocean_proximity'])], axis=1)

In [2565]:
df = df[['longitude','latitude','housing_median_age','total_rooms','total_bedrooms','population','households','median_income',	
'<1H OCEAN','INLAND','ISLAND','NEAR BAY','NEAR OCEAN','median_house_value']]

In [2566]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,median_house_value
0,-122.23,37.88,41,880,129,322,126,8.3252,False,False,False,True,False,452600.0
1,-122.22,37.86,21,7099,1106,2401,1138,8.3014,False,False,False,True,False,358500.0
2,-122.24,37.85,52,1467,190,496,177,7.2574,False,False,False,True,False,352100.0
3,-122.25,37.85,52,1274,235,558,219,5.6431,False,False,False,True,False,341300.0
4,-122.25,37.85,52,1627,280,565,259,3.8462,False,False,False,True,False,342200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25,1665,374,845,330,1.5603,False,True,False,False,False,78100.0
20636,-121.21,39.49,18,697,150,356,114,2.5568,False,True,False,False,False,77100.0
20637,-121.22,39.43,17,2254,485,1007,433,1.7000,False,True,False,False,False,92300.0
20638,-121.32,39.43,18,1860,409,741,349,1.8672,False,True,False,False,False,84700.0
20639,-121.24,39.37,16,2785,616,1387,530,2.3886,False,True,False,False,False,89400.0

In [2567]:
cols_to_convert = ['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN']
df[cols_to_convert] = df[cols_to_convert].astype(int)

In [2568]:
x = df.iloc[:,2:12]
y = df.iloc[:,13]

In [2569]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = .2, random_state = 53)

In [2570]:
import time

In [2571]:
import numpy as np

In [2572]:
mean = np.mean(x_train, axis=0)
std = np.std(x_train, axis=0)

x_train = (x_train - mean) / std
x_test = (x_test - mean) / std

In [2573]:

class scratchlr:
    
    def __init__(self,learning_rate=0.01,epochs=100):
        
        self.coef_ = None
        self.intercept_ = None
        self.lr = learning_rate
        self.epochs = epochs
        
    def fit(self,x_train,y_train):
        # init your coefs
        self.intercept_ = 0
        self.coef_ = np.ones(x_train.shape[1])
        
        for i in range(self.epochs):
            # update all the coef and the intercept
            y_hat = np.dot(x_train,self.coef_) + self.intercept_
            #print("Shape of y_hat",y_hat.shape)
            intercept_der = -2 * np.mean(y_train - y_hat)
            self.intercept_ = self.intercept_ - (self.lr * intercept_der)
            
            coef_der = -2 * np.dot((y_train - y_hat),x_train)/x_train.shape[0]
            self.coef_ = self.coef_ - (self.lr * coef_der)
        
        print(self.intercept_,self.coef_)
    
    def predict(self,x_test):
        return np.dot(x_test,self.coef_) + self.intercept_

In [2574]:
lr = scratchlr(learning_rate = .20,epochs =250)

In [2575]:
lr.fit(x_train,y_train)

206978.4389453077 [ 14759.08273614 -14635.61328597  31342.83338555 -42729.68861948
  31465.83144349  76244.63643675  -6197.9635185  -38135.68011083
   2772.80957395  -2666.72832238]

In [2576]:
y_pred = lr.predict(x_test)

In [2577]:
def mean_absolute_score(y_test, y_pred):
    error = (y_test - y_pred).abs()
    return error.mean()

mean_absolute_score(y_test, y_pred)

49914.05877504293

In [2578]:
def mean_squared_error(y_test, y_pred):
   error2 = (y_test - y_pred)**2
   return error2.mean()
mean_squared_error(y_test, y_pred)

4766242588.884937

In [2579]:

def r2_score(y_test, y_pred):
    ss_r = ((y_test - y_pred) ** 2).sum()
    ss_m = ((y_test - y_train.mean()) ** 2).sum()
    return (1 - (ss_r / ss_m))
r2_score(y_test, y_pred)

0.6342348027758586