In [3]:
import pandas as pd

In [4]:
import os
for root, dirs, files in os.walk('/kaggle/input'):
    for name in files:
        print(os.path.join(root, name))

/kaggle/input/housing.csv

In [5]:
df = pd.read_csv('/kaggle/input/housing.csv')

In [6]:
df.shape

(20640, 10)

In [7]:
df.sample(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
13160,-121.40,36.84,40.0,2352.0,536.0,1430.0,535.0,3.0912,155300.0,INLAND
4816,-118.29,34.05,40.0,907.0,349.0,1426.0,323.0,1.8571,143800.0,<1H OCEAN
19072,-122.49,38.32,30.0,1631.0,284.0,788.0,284.0,3.3098,195500.0,<1H OCEAN
650,-122.14,37.72,45.0,1397.0,253.0,555.0,248.0,2.9830,202700.0,NEAR BAY
4765,-118.35,34.04,38.0,1626.0,375.0,1019.0,372.0,2.3687,146800.0,<1H OCEAN
11134,-117.94,33.85,37.0,588.0,121.0,436.0,104.0,4.2750,186200.0,<1H OCEAN
6505,-118.06,34.08,34.0,1197.0,260.0,942.0,245.0,3.4202,189100.0,<1H OCEAN
15311,-117.38,33.19,26.0,4123.0,1145.0,1703.0,895.0,1.9891,500000.0,NEAR OCEAN
577,-122.06,37.73,5.0,3596.0,467.0,1738.0,512.0,7.0568,412500.0,NEAR BAY
872,-122.02,37.56,23.0,4332.0,857.0,2461.0,829.0,4.3594,223400.0,NEAR BAY

In [8]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [9]:
df = df.dropna()

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

In [11]:
df['total_rooms'] = df['total_rooms'].astype(int)
df['total_bedrooms'] = df['total_bedrooms'].astype(int)
df['population'] = df['population'].astype(int)
df['households'] = df['households'].astype(int)
df['housing_median_age'] = df['housing_median_age'].astype(int)

In [12]:
df.duplicated().sum()

0

In [13]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000
mean,-119.570689,35.633221,28.633094,2636.504233,537.870553,1424.946949,499.433465,3.871162,206864.413155
std,2.003578,2.136348,12.591805,2185.269567,421.385070,1133.208490,382.299226,1.899291,115435.667099
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1450.000000,296.000000,787.000000,280.000000,2.563700,119500.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.536500,179700.000000
75%,-118.010000,37.720000,37.000000,3143.000000,647.000000,1722.000000,604.000000,4.744000,264700.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [14]:
df['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9034
INLAND        6496
NEAR OCEAN    2628
NEAR BAY      2270
ISLAND           5
Name: count, dtype: int64

In [15]:
pd.get_dummies(df['ocean_proximity']).head()

   <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
0      False   False   False      True       False
1      False   False   False      True       False
2      False   False   False      True       False
3      False   False   False      True       False
4      False   False   False      True       False

In [16]:
df.drop('ocean_proximity', axis=1).head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41,880,129,322,126,8.3252,452600.0
1,-122.22,37.86,21,7099,1106,2401,1138,8.3014,358500.0
2,-122.24,37.85,52,1467,190,496,177,7.2574,352100.0
3,-122.25,37.85,52,1274,235,558,219,5.6431,341300.0
4,-122.25,37.85,52,1627,280,565,259,3.8462,342200.0

In [17]:
df = pd.concat([df.drop('ocean_proximity', axis=1),
                              pd.get_dummies(df['ocean_proximity'])], axis=1)

In [18]:
df = df[['longitude','latitude','housing_median_age','total_rooms','total_bedrooms','population','households','median_income',	
'<1H OCEAN','INLAND','ISLAND','NEAR BAY','NEAR OCEAN','median_house_value']]

In [19]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,median_house_value
0,-122.23,37.88,41,880,129,322,126,8.3252,False,False,False,True,False,452600.0
1,-122.22,37.86,21,7099,1106,2401,1138,8.3014,False,False,False,True,False,358500.0
2,-122.24,37.85,52,1467,190,496,177,7.2574,False,False,False,True,False,352100.0
3,-122.25,37.85,52,1274,235,558,219,5.6431,False,False,False,True,False,341300.0
4,-122.25,37.85,52,1627,280,565,259,3.8462,False,False,False,True,False,342200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25,1665,374,845,330,1.5603,False,True,False,False,False,78100.0
20636,-121.21,39.49,18,697,150,356,114,2.5568,False,True,False,False,False,77100.0
20637,-121.22,39.43,17,2254,485,1007,433,1.7000,False,True,False,False,False,92300.0
20638,-121.32,39.43,18,1860,409,741,349,1.8672,False,True,False,False,False,84700.0
20639,-121.24,39.37,16,2785,616,1387,530,2.3886,False,True,False,False,False,89400.0

In [20]:
cols_to_convert = ['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN']
df[cols_to_convert] = df[cols_to_convert].astype(int)

In [21]:
x = df.iloc[:,2:12]
y = df.iloc[:,13]

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = .2, random_state = 53)

In [23]:
import time

In [24]:
import numpy as np

In [25]:
mean = np.mean(x_train, axis=0)
std = np.std(x_train, axis=0)

x_train = (x_train - mean) / std
x_test = (x_test - mean) / std

In [26]:

class scratchlr:
    
    def __init__(self,learning_rate=0.01,epochs=100):
        
        self.coef_ = None
        self.intercept_ = None
        self.lr = learning_rate
        self.epochs = epochs
        
    def fit(self,x_train,y_train):
        self.intercept_ = 0
        self.coef_ = np.ones(x_train.shape[1])
        for i in range(self.epochs):
            y_hat = np.dot(x_train,self.coef_) + self.intercept_
            intercept_der = -2 * np.mean(y_train - y_hat)
            self.intercept_ = self.intercept_ - (self.lr * intercept_der)
            coef_der = -2 * np.dot((y_train - y_hat),x_train)/x_train.shape[0]
            self.coef_ = self.coef_ - (self.lr * coef_der)
        
        print(self.intercept_,self.coef_)
    
    def predict(self,x_test):
        return np.dot(x_test,self.coef_) + self.intercept_

In [27]:
lr = scratchlr(learning_rate = .20,epochs =250)

In [28]:
start_time = time.time()
lr.fit(x_train,y_train)

y_pred = lr.predict(x_test)
end_time = time.time()
print(end_time-start_time)

206978.4389453077 [ 14759.08273614 -14635.61328597  31342.83338555 -42729.68861948
  31465.83144349  76244.63643675  -6197.9635185  -38135.68011083
   2772.80957395  -2666.72832238]
0.3596820831298828

In [29]:
def mean_absolute_score(y_test, y_pred):
    error = (y_test - y_pred).abs()
    return error.mean()

mean_absolute_score(y_test, y_pred)

49914.05877504293

In [30]:
def mean_squared_error(y_test, y_pred):
   error2 = (y_test - y_pred)**2
   return error2.mean()
mean_squared_error(y_test, y_pred)

4766242588.884937

In [31]:

def r2_score(y_test, y_pred):
    ss_r = ((y_test - y_pred) ** 2).sum()
    ss_m = ((y_test - y_train.mean()) ** 2).sum()
    return (1 - (ss_r / ss_m))
r2_score(y_test, y_pred)

0.6342348027758586